@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap");
@font-face {
  font-family: "Bobby Jones Soft";
  src: url("../assets/fonts/bobby_jones_soft-webfont.woff2") format("woff2");
}
/* Hero */
.hero {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #FFEEE9;
  width: 100%;
  height: 100vh;
}
.hero__left {
  width: 50%;
  gap: 2rem;
  padding: 2rem;
}
.hero__left .hero__subtitle {
  color: #231F1E;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  margin: 0;
}
.hero__left .hero__title {
  color: #231F1E;
  font-family: Bobby Jones Soft;
  font-size: 4rem;
  font-style: normal;
  line-height: normal;
  margin: 0;
  font-weight: 400;
}
.hero__left .hero__description {
  color: #231F1E;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.hero__left .hero__cta {
  display: inline-block;
  background-color: #CD3D55;
  border-radius: 3.125rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: 2rem 0rem;
}
.hero__left .hero__cta:hover {
  background-color: #95414f;
  text-decoration: none;
  color: #fff;
}
.hero__left .hero__cta-button {
  display: inline-block;
  background-color: #CD3D55;
  border-radius: 3.125rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.hero__left .hero__cta-button:hover {
  background-color: #95414f;
  text-decoration: none;
  color: #fff;
}
.hero__right {
  width: 50%;
  background-image: url("images/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero__right .hero__right_image .hero__image {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/* Concept */
.concept {
  display: flex;
  padding: 8.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  background-color: #fff;
  padding: 4rem;
}
.concept__container {
  display: flex;
  padding: 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  background-color: #FFEEE9;
}
.concept__container_subtitle {
  color: #231F1E;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  margin: 0;
}
.concept__container_title {
  color: #231F1E;
  font-family: Bobby Jones Soft;
  font-size: 3.5rem;
  font-style: normal;
  line-height: normal;
  margin: 0;
  font-weight: 400;
}
.concept__container_description {
  color: #231F1E;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

/* Box */
.box {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  background-color: #FFEEE9;
}
.box .box__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.box .box__subtitle {
  color: #231F1E;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  margin: 0;
}
.box .box__title {
  color: #231F1E;
  font-family: "Bobby Jones Soft", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  line-height: normal;
  margin: 0;
  font-weight: 400;
}
.box .box__description {
  color: #231F1E;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 50rem;
}
.box .box__items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.box .box__item {
  width: 16.25rem;
  height: 21.875rem;
  padding: 1rem;
  gap: 1rem;
  transform: rotate(0.617deg);
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  justify-content: center;
}
.box .box__item:hover {
  transform: rotate(3deg);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}
.box .box__item_title {
  font-family: "Shadows Into Light Two", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
}
.box .box__item_description {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box .box__item_image {
  height: 10.4375rem;
  flex-shrink: 0;
  align-self: stretch;
}
.box .box__item_button {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .box__items {
    flex-direction: column;
    align-items: center;
  }
}
/* Valeurs */
.values {
  padding: 2rem 0;
  background-color: #f5f5f5;
}
.values .values__container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.values .values__container .values__subtitle {
  color: #231F1E;
  font-family: Bobby Jones Soft Outline;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}
.values .values__container .values__title {
  color: #231F1E;
  font-family: Bobby Jones Soft;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.values .values__container .values__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  padding: 2%;
}
.values .values__container .values__item {
  background-color: #CD3D55;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 4%;
}
.values .values__container .values__item-image {
  width: 50px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.values .values__container .values__item-details {
  text-align: center;
}
.values .values__container .values__item-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: Shadows Into Light Two;
}
.values .values__container .values__item-title .values__item-description {
  font-size: 0.8rem;
  color: #666;
  font-family: Poppins;
}

/* Blog */ 
.blog {
  padding: 2rem 0;
}
.blog .blog__container {
  text-align: center;
  margin-bottom: 2rem;
}
.blog .blog__container .blog__subtitle {
  color: #231F1E;
  font-family: Bobby Jones Soft Outline;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}
.blog .blog__container .blog__title {
  color: #231F1E;
  font-family: Bobby Jones Soft;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog .blog__container .blog__description {
  font-family: "Poppins";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog .blog__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.blog .blog__grid .blog__post {
  width: calc(33% - 1rem);
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.blog .blog__grid .blog__post .blog__post-image-container {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
}
.blog .blog__grid .blog__post .blog__post-image-container .blog__post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .blog__grid .blog__post .blog__post-details {
  padding-top: 75%;
}
.blog .blog__grid .blog__post .blog__post-details .blog__post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.blog .blog__grid .blog__post .blog__post-details .blog__post-title a {
  color: #333;
  text-decoration: none;
}
.blog .blog__grid .blog__post .blog__post-details .blog__post-excerpt {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}
.blog .blog__grid .blog__post .blog__post-details .blog__post-cta {
  display: inline-block;
  background-color: #cd3d55;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.blog .blog__grid .blog__post .blog__post-details .blog__post-cta:hover {
  background-color: #95414f;
}

/* Footer */
.footer {
  background-color: #f5f5f5;
  padding: 2rem 0;
}
.footer .footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer__contact .footer__contact-form {
  width: 50%;
}
.footer .footer__contact .footer__contact-form h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer .footer__contact .footer__contact-form .form-group {
  margin-bottom: 1rem;
}
.footer .footer__contact .footer__contact-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.footer .footer__contact .footer__contact-form .form-group input,
.footer .footer__contact .footer__contact-form .form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.footer .footer__contact .footer__contact-form button {
  background-color: #cd3d55;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.footer .footer__contact .footer__contact-form button:hover {
  background-color: #95414f;
}
.footer .footer__contact .footer__social-media {
  width: 50%;
  text-align: center;
}
.footer .footer__contact .footer__social-media ul {
  list-style: none;
  padding: 0;
}
.footer .footer__contact .footer__social-media ul li {
  margin-bottom: 1rem;
}
.footer .footer__contact .footer__social-media ul li a {
  color: #333;
  text-decoration: none;
}
.footer .footer__contact .footer__social-media ul li i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.footer .footer__background {
  position: relative;
  background-image: url("footer-background.jpg");
}/*# sourceMappingURL=style.css.map */